USE [master]
GO
/****** Object:  Database [filmDatabase]    Script Date: 13.01.2022 16:08:05 ******/
CREATE DATABASE [filmDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'filmDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\filmDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'filmDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\filmDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [filmDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [filmDatabase]
GO
/****** Object:  Table [dbo].[adminTable]    Script Date: 13.01.2022 16:08:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adminTable](
	[admin_id] [int] IDENTITY(1,1) NOT NULL,
	[admin_name] [nvarchar](50) NULL,
	[admin_pass] [nvarchar](50) NULL,
 CONSTRAINT [PK_admin] PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[filmTable]    Script Date: 13.01.2022 16:08:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[filmTable](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](100) NOT NULL,
	[puan] [nvarchar](50) NULL,
	[tür] [varchar](100) NULL,
	[süre] [nvarchar](50) NULL,
	[aciklama] [nvarchar](4000) NULL,
	[video_url] [nvarchar](200) NULL,
	[img_name] [nvarchar](150) NULL,
 CONSTRAINT [PK_filmTable] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[yorumTable]    Script Date: 13.01.2022 16:08:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[yorumTable](
	[yorum_id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[isim] [nvarchar](50) NULL,
	[tarih] [datetime] NULL,
	[yorum] [nvarchar](1000) NULL,
	[onay] [bit] NULL,
	[film_id] [int] NULL,
 CONSTRAINT [PK_yorumTable] PRIMARY KEY CLUSTERED 
(
	[yorum_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[yorumTable] ADD  CONSTRAINT [DF_yorumTable_tarih]  DEFAULT (getdate()) FOR [tarih]
GO
ALTER TABLE [dbo].[yorumTable] ADD  CONSTRAINT [DF_yorumTable_onay]  DEFAULT ((0)) FOR [onay]
GO
ALTER TABLE [dbo].[yorumTable]  WITH CHECK ADD  CONSTRAINT [FK_yorumTable_filmTable] FOREIGN KEY([film_id])
REFERENCES [dbo].[filmTable] ([id])
GO
ALTER TABLE [dbo].[yorumTable] CHECK CONSTRAINT [FK_yorumTable_filmTable]
GO
USE [master]
GO
